@media (min-width: 992px) {
	/*Footer styling*/
	.copyright {
		margin-top: 10px;
	}
	.footer-country {
		margin-top: 10px;
	}
	.footer-links-terms {
		margin-top: 10px;
	}	
}
.footer-wrapper {
    background-color: #f5f5f7;
    color: #86868b;
    font-size: .7em;
  }
  .footer-wrapper ul {
      list-style: none;
      padding-bottom: 10px;
      padding-inline-start: 0px;
  }
  .footer-wrapper ul a {
      color: #515154;
  }
  .my-apple-wrapper {
      padding-bottom: 15px;
    margin-top: 10px;
  }
  .copyright {
      margin-top: 15px;
  }
  .footer-country {
      margin-top: 8px;
  }
  .flag-wrapper {
      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
  }
  .footer-country-name{
      display: inline-block;
      vertical-align: middle;
  }
  .footer-links-terms ul {
      display: flex;
  }
  .footer-links-terms ul li {
      padding: 0 10px;
      border-right: 1px solid #d2d2d7;
  }
  .footer-links-terms ul li:first-child {
      padding-left: 0;
  }
  .footer-links-terms ul li:last-child {
      border-right: 0;
  }
  
  .footer-links-wrapper h3 {
      font-size: 12px;
      font-weight: 600;
      color: #1d1d1f;
  }
  .footer-wrapper ul li{
      padding: 4px 0;
  }
  .upper-text-container {
      border-bottom: 1px solid #d2d2d7;
      padding: 17px 0 10px;
      margin-bottom: 20px;
  }
  .upper-text-container a {
      color: #515154;
  }